/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-card-border-radius: 2px;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --sign-width: 170px;
}

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

h1,
.markdown h1:first-child {
  --ifm-h1-font-size: 2rem;
}

.markdown u {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.markdown > h2 {
    --ifm-h1-font-size: 1.5rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.signs-table tr td {
    vertical-align: top;
}

.signs-table tr td:nth-child(2) {
    text-align: center;
    font-weight: bold;
}

.signs-table tr td:last-child {
    width: 100%;
}

.signs-table td:nth-child(2) > img {
    display: block;
    margin: 6px auto;
}

.signs-table h2 {
    margin-bottom: 0;
}

.signs-table th:first-child {
    white-space: nowrap;
}

.signs-table .subtitle {
    font-weight: 700;
}

@media (max-width: 768px) {
    .signs-table tr {
        display: flex;
        flex-flow: column;
    }

    .signs-table tr td:first-child,
    .signs-table tr td:empty {
        display: none;
    }

    .signs-table tr td.section-reference,
    .signs-table tr td[colspan] {
        display: block;
    }

    .signs-table tr.section-header-row {
        border: 0 none;
        background-color: transparent;
    }

    .signs-table tr.section-header-row td {
        border: 0 none;
        padding: 0;
    }

    .signs-table tr:not(:first-child) {
        margin-top: 2rem;
    }

    .signs-table tr:nth-child(2n) {
        background-color: transparent;
    }

    .signs-table thead {
        display: none;
    }
}

.signs-paired {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 15px;
}

.signs-paired img {
    display: block;
    margin: 0 auto;
}

.text--no-wrap {
    white-space: nowrap;
}

.theme-doc-markdown a:not(.card) {
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

.signs-grid {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--sign-width)), 1fr));
    gap: 1.25rem 0.75rem;
}

.sign-single {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.sign-single figure {
    width: var(--sign-width);
}

.img-center {
    display: block;
    margin: 0 auto 1rem; 
}

@media (max-width: 768px) {
    .changes-table thead {
        display: none;
    }

    .changes-table tr {
        display: flex;
        flex-direction: column;
    }

    .changes-table tr:not(:first-child) {
        margin-top: 2rem;
    }

    .changes-table tr td::before {
        font-weight: 500;
    }

    .changes-table tr td:nth-child(1)::before {
        content: "Дата вступления в силу: ";
    }

    .changes-table tr td:nth-child(2)::before {
        content: "Дата публикации: ";
    }

    .changes-table tr td:nth-child(3) {
        order: 1;
    }

    .changes-table tr td:nth-child(4)::before {
        content: "Есть в переводе: ";
    }
}
