@media (min-width: 997px) {
  .generatedIndexPage {
    max-width: 75% !important;
  }

  .list article:nth-last-child(-n + 2) {
    margin-bottom: 0 !important;
  }
}

/* Duplicated from .markdown h1 */
.title {
  margin-bottom: calc(1.25 * var(--ifm-leading));
}

.list article:last-child {
  margin-bottom: 0 !important;
}
